@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: #fafbfc;
  --foreground: rgb(17, 24, 39);

  --card: rgba(82, 106, 168, 0.63);
  --card-foreground: rgba(5, 73, 176, 0.1);

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: #ffff;
  --primary-foreground: rgb(27, 37, 59);

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: rgb(220, 224, 236);
  --input: rgb(27, 37, 59);
  --ring: rgb(27, 37, 59);
  --radius: 1rem;
}

.dark {
  --background: rgb(17, 24, 39);
  --foreground: #fafbfc;

  --card: rgba(193, 193, 213, 0.8);
  --card-foreground: rgba(163, 183, 201, 0.35);

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: rgb(27, 37, 59);
  --primary-foreground: #f4f4f4;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: rgb(65, 69, 93);
  --input: rgb(65, 69, 93);
  --ring: rgb(65, 69, 93);
  --radius: 1rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.card-mask:before {
    content: "";
    border-radius: inherit;
    -webkit-mask: linear-gradient(black, black) content-box content-box,
    linear-gradient(black, black);
    -webkit-mask-composite: xor;
}

.card-glow-highlight {
    contain: strict;
    opacity: var(--opacity);
    transition: opacity 400ms ease 0s;
    will-change: background, opacity;
    background: radial-gradient(
            400px circle at var(--x) var(--y),
            var(--card-foreground),
            transparent
    );

    @apply pointer-events-none absolute bottom-[1px] left-[1px] right-[1px] top-[1px] z-10 select-none;
}

.card-glow {
    --opacity: 0;
    --y: calc((var(--cursor-y) * 1px));
    --x: calc((var(--cursor-x) * 1px));
    contain: strict;
    box-shadow: rgba(0, 0, 0, 0.12) 0 12px 12px;
    background: rgba(255, 255, 255, 0.02);

    @apply relative m-0 h-[280px] select-none overflow-hidden rounded-xl;
}

.card-glow:before {
    content: "";
    border-radius: inherit;
    opacity: var(--border-opacity);
    transition: opacity 400ms ease 0s;
    will-change: background, opacity;
    background: radial-gradient(
            800px circle at var(--x) var(--y),
            var(--card),
            transparent 40%
    );

    @apply pointer-events-none absolute inset-0 select-none;
}

.cards-highlight:before {
    --color-a: #59e5ae;
    --color-b: #97ed8d;
    --color-c: #f2f75d;
    --page-edge: calc((100vw - 1200px) / 2);

    content: "";
    transform: translate(-50%, -50%) translateZ(0px);
    width: calc(100vw - 50px);
    background: radial-gradient(
            400px circle at calc(100% - var(--page-edge) - 10%) 45%,
            var(--color-a),
            70%,
            transparent
    ),
    radial-gradient(400px circle at 50% 55%, var(--color-b), 60%, transparent),
    radial-gradient(
            350px circle at calc(var(--page-edge) + 15%) 40%,
            var(--color-c),
            60%,
            transparent
    );

    @apply absolute left-1/2 top-1/2 h-screen opacity-5 blur-3xl;
}

.gradiant {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(
            270deg,
            #ff7356,
            #ff59e2 25.52%,
            #52ddf6 50%,
            #eadf4e 76.04%,
            #ff7356
    );
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% auto;
}
